main {
  width: 960px;
  min-height: 200px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.square {
  height: 40px;
  width: 40px;
  flex: none;
  border: 1px solid #cccccc;
  margin-left: -1px;
  margin-bottom: -1px;
}

.hover {
  background-color: lightskyblue;
}

.new-grid-bttn {
  padding: 16px 40px;
  margin: 24px 0;
  border-radius: 100px;
  border: none;
}

.new-grid-bttn:hover {
  background-color: #cccccc;
  cursor: pointer;
}
